<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="vh-100 d-flex align-items-center">
    <div class="container">
        <h1 class="text-center my-4 mt-5 mb-4">Agregar Cliente</h1>
        <div class="card w-50 mx-auto my-auto">
            <div class="card-body">
                <form class="d-flex flex-column justify-content-between align-items-center" action="{% url 'agregar_cliente' %}" method='POST'>
                    {% csrf_token %}
                    {{ clienteForm }}
                    <input type="submit" class="btn btn-primary" value="Crear">
                </form>
            </div>
        </div> 
    </div>   
</body>
</html>